.nav-bar {
	width: 100%;
	height: 76px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.nav-bar h1 {
	font-size: 24px;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
}