body {
	background-color: #fdf7f7;
	font-family: 'Open Sans', sans-serif;
}

.nav-bar {
	width: 100%;
	height: 76px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	background-color: white
}

.nav-bar h1 {
	font-size: 24px;
	letter-spacing: 1px
}

.register-card {
	width: 50%;
	height: 380px;
	margin: auto;
	margin-top: 40px;
	border-radius: 180px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	padding: 20px;
	height: 400px
}

.login-button {
	width: 90%;
	padding: 14px;
	display: flex;
	align-items: center;
	justify-content: center
}

button {
	width: 100px;
	height: 37px;
	cursor: pointer;
}

.login {
	background-color: #ff5063;
	border: none;
	color: white;
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: bold;
	outline: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

/* Ripple effect */
.ripple {
	background-position: center;
	transition: background 0.8s;
}

.ripple:hover {
	background: #ff5063 radial-gradient(circle, transparent 1%, #ff5063 1%)
		center/15000%;
}

.ripple:active {
	background-color: white;
	background-size: 100%;
	transition: background 0s;
}

/*  Materialistic text boxes */
.text-input {
	position: relative;
}

.input-text {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
}

.input-text:focus {
	outline: none;
}

/* label */
.input-label {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #505050;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */
.input-text:focus ~label, .input-text:valid ~label {
	top: -20px;
	font-size: 14px;
	color: #ff5063;
}

/* bottom bar */
.bar {
	position: relative;
	display: block;
	width: 104%;
	background: #ff5063
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #ff5063;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

/* active state */
.input-text:focus ~.bar:before, .input-text:focus ~.bar:after {
	width: 50%;
}

/* highlighter */
.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active state */
.input-text:focus ~.highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

/* animations */
@
-webkit-keyframes inputHighlighter {from { background:gray;
	
}

to {
	width: 0;
	background: transparent;
}

}
@
-moz-keyframes inputHighlighter {from { background:#5264AE;
	
}

to {
	width: 0;
	background: transparent;
}

}
@
keyframes inputHighlighter {from { background:gray;
	
}

to {
	width: 0;
	background: transparent;
}
}